.my-profile-button:active,
.my-profile-button.active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /*тень внутри кнопки*/
}

.logout-button:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /*тень внутри кнопки*/
}

.dropdown-content-profile {
    display: none; /* Скрываем контент по умолчанию */
    position: absolute;
    background-color: #f9f9f9;
    width: fit-content; /* Ширина подстраивается под контент */
    white-space: nowrap; /* Запрещаем перенос текста */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 100%; /* Выравниваем по правому краю родительского элемента */
    top: 0;
    border-radius: 5px; /*  Закругленные края */

}

.dropdown-content p {
    color: black;
    padding: 1px 10px; /* отступы вокруг текста */
    text-decoration: none; /* убираем подчеркивание (если это ссылка) */
    display: block;
    text-align: left;
}

.show-profile {
    display: block; /* показываем контент при клике */
}

.copyable {
    cursor: pointer; /*  Изменяем курсор на "руку" при наведении */
}