<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    <link rel="stylesheet" href="../../static/main_page/css/main_page.css">
    <link rel="stylesheet" href="../../static/profile/css/profile_button.css">

</head>
<body>
    <div class="inline-wrapper">
        <div class="top-container">
            <div class="logo">CRM System</div>
            <div class="main_buttons">
                <a href="channels.html">Каналы</a>
                <a href="tasks.html">Задачи</a>
                <a href="calendar.html">Календарь</a>
                <a href="friends.html">Друзья</a>
            </div>

            <div class="profile-dropdown">
                    <button class="profile-button">
                        <i class="user"></i> Профиль
                    </button>
                    <div class="dropdown-content">
                        <a href="#" class="my-profile-button no-close">Мой профиль</a>
                            <div class="dropdown-content-profile">
                                <p>Имя:</p>
                                <p>Почта:</p>
                            </div>
                        <a href="#" class="settings-button no-close">Настройки</a>
                        <a href="#" class="help-button no-close">Помощь</a>
                        <a href="#" id='logout-button'>Выйти</a>
                    </div>
            </div>
        </div>

        <div class="content">
        </div>
    </div>

    <script type="module" src="../../static/auth/js/script.js"></script>
    <script type="module" src="../../static/main_page/js/animation/profile.js"></script>
    <script type="module" src="../../static/profile/js/animation/my_profile_a.js"></script>
    <script type="module" src="../../static/main_page/js/main_script.js"></script>

</body>
</html>