body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/*.top-container,*/
/*.content {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    !*border: 1px solid black; !*  Для визуализации *!*!*/
/*    box-sizing: border-box; !*  Включаем padding и border в ширину *!*/
/*    width: 100%; !*  Занимает всю ширину *!*/
/*}*/

.top-container {
    display: flex;
    justify-content: space-between; /* Распределяем место между элементами */
    align-items: center;
    margin: 0;
    padding: 0 20px; /* Отступ слева и справа */
    height: 10vh;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Горизонтальное смещение, вертикальное смещение, размытие, цвет (rgba позволяет задать прозрачность) */
    /*z-index: 10;  !* Важно для случаев с position: fixed; *!*/
}

/* логотип */
.logo {
    font-size: 1.7em;
    font-weight: bold;
}

/* каналы, задачи, календарь */
.main_buttons a {
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
    margin-right: 70px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.main_buttons a:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /*тень внутри кнопки*/
}

.main_buttons a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.profile-dropdown {
    position: relative; /*  Для позиционирования контента выпадающего меню */
    display: inline-block;
}

/* кнопка профиля */
.profile-button {
    background-color: #4CAF50; /* Зеленый цвет кнопки */
    color: white; /*цвет текста*/
    padding: 10px 16px; /*размер кнопки*/
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Закругленные края */
}

.profile-button:active {
    background-color: #3e8e41; /*более темный оттенок зеленого*/
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /*тень внутри кнопки*/
}

/* стили для контента выпадающего меню */
.dropdown-content {
    display: none; /* Скрываем контент по умолчанию */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Выравниваем по правому краю родительского элемента */
    border-radius: 5px; /*  Закругленные края */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block; /* показываем контент при клике */
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    /*box-sizing: border-box;*/
    /*grid-template-columns: max-content auto;*/
    /*background-color: #fff;*/
}

